$selectSiteColor: #f16d7f;
$headerTextColor: #222;
$mainSiteWidth: 1140px;
$maxWidthSite: 1600px;
$whiteTextColor: #fff;
$blackTextColor: #000;
$colorParagraph: #6f6e6e;
$cardBgColor: #f8f8f8;
$borderButtonColor: #FF6A6A;