@import 'vars';
@import 'mixins';



%pointer {
    cursor: pointer;
}

%firstSectionSmallCardSize {
    width: 360px;
    height: 260px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 100px;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: $mainSiteWidth;
    margin: 0 auto;
}

a {
    @extend %pointer
}

button {
    @extend %pointer
}

h1,
p,
button,
a {
    color: $headerTextColor;
}

.menu {
    padding: 19px 0;
    width: $maxWidthSite;
    background: $headerTextColor;
    @include space-between();
    margin: 0 auto;
    position: relative;

    &__left-menu {
        @include space-between();
        gap: 41px;
        width: 111px;
        margin-left: 231px;
    }

    &__right-menu {
        width: 169px;
        height: 37px;
        margin-right: 240px;
        display: flex;
        gap: 33px;
    }

    button {
        background-color: $headerTextColor;
        border: none;
        @include flex-center();
    }

    &__basket {
        position: relative;
    }

    &__five-in-basket {
        width: 19px;
        height: 19px;
        background: $selectSiteColor;
        border-radius: 50%;
        @include flex-center();
        font-weight: 400;
        font-size: 12px;
        color: $whiteTextColor;
        position: absolute;
        top: -7px;
        right: -7px;
        
    }

    &__hide-menu {
        display: none;
    }
}

.BreadCrumb {
    position: relative;
    background: #f8f3f4;
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 230px;

    &__menu-active {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 232px;
        height: 634px;
        z-index: 3;
        opacity: 1;
        transition: all 1s ease-in-out;
    }

    &__menu-active__all {
        padding-top: 32px;
        background: $whiteTextColor;
        box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
        padding-left: 20px;
    }

    &__menu-heading {
        margin-bottom: 24px;
        text-align: start;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 14px;
        color: $blackTextColor;
    }

    &__menu-man {
        @include flex-column();
        width: 100px;
        height: 130px;
        gap: 12px;
        margin-bottom: 20px;
    }

    &__menu-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: $selectSiteColor;
    }

    &__menu-list {
        @include flex-column();
        font-weight: 400;
        font-size: 14px;
        color: $colorParagraph;
        list-style: none;
        gap: 11px;
    }

    &__menu-list a {
        font-family: var(--font-family);
        color: $colorParagraph;

    }

    &__menu-woman {
        @include flex-column();
        width: 126px;
        height: 163px;
        gap: 12px;
        margin-bottom: 20px;
    }

    &__menu-kids {
        @include flex-column();
        width: 126px;
        height: 196px;
        gap: 12px;
    }

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $selectSiteColor
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
        color: #636363;

        &:hover {
            color: $selectSiteColor;
        }
    }

    &__links {
        display: flex;
    }

    &__box:last-of-type .BreadCrumb__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $selectSiteColor
    }

    &__box:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: #636363;

    }
}

.second-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;

    &__text {
        margin-top: 64px;
        @include flex-column();
    }

    &__text h1 {
        font-weight: 400;
        font-size: 30px;
        color: $headerTextColor;
        margin-bottom: 6px;
        text-align: center;
    }

    &__text h3 {
        font-weight: 400;
        font-size: 14px;
        color: #9f9f9f;
        margin-bottom: 48px;
        text-align: center;
    }

    .second-section__card {
        display: block;
        position: relative;
        background-color: $cardBgColor;
        width: 360px;
        height: 581px;
    }

    &__card-darkness {
        display: none;
        justify-content: center;
        align-items: center;
        background: #3A3838;
        width: 360px;
        height: 420px;
        opacity: 0.86;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__card-darkness button {
        @include flex-center();
        flex-direction: row;
        color: $whiteTextColor;
        background: rgba(58, 56, 56, 0.86);
        font-weight: 400;
        font-size: 14px;
        border: 1px solid $whiteTextColor;
        gap: 11px;
        padding: 13px;
        position: absolute;
        top: 40%;
        left: 35%;
    }

    &__card:hover &__card-darkness {
        display: flex;
    }

    &__card-text {
        padding: 24px 16px;
        @include flex-column();
        gap: 16px;
        color: $blackTextColor;
        align-items: start;
    }

    &__card-text h2 {
        font-size: 13px;
        font-weight: 400;
    }

    &__card-text p {
        font-weight: 300;
        font-size: 14px;
        color: #5d5d5d;
    }

    &__price {
        font-weight: 400;
        font-size: 16px;
        color: $selectSiteColor;
    }
}

.browse-all-button {
    @include flex-center();

    &__button {
        background: none;
        font-size: 16px;
        color: $selectSiteColor;
        padding: 15px, 39px;
        border: 1px solid $borderButtonColor;
        margin-bottom: 60px;
        margin-top: 48px;
        width: 212px;
        height: 48px;
    }

    &__button:hover {
        color: $whiteTextColor;
        background: $selectSiteColor;
        stroke-width: 1px;
        stroke: $borderButtonColor;
    }
}

.border {
    height: 10px;
    background: #918f8f;
}

.cart {
    display: grid;
    width: $mainSiteWidth;
    padding-top: 96px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 128px;

    img {
        width: 262px;
        height: 306px;
    }

    &__heading {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        color: $headerTextColor;
    }

    &__form {
        height: 272px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 57px;
    }

    &__input {
        width: 360px;
        height: 45px;
        border: 1px solid #a4a4a4;
        font-weight: 300;
        font-size: 13px;
        color: $headerTextColor;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        outline: none;

        &::placeholder {
            color: #b1b1b1;
        }
    }

    &__button {
        width: 113px;
        height: 35px;
        border: 1px solid #a4a4a4;
        padding: 12px 16px;
        font-weight: 300;
        font-size: 11px;
        color: #4a4a4a;
        background-color: #fff;

        &:hover {
            color: white;
            background-color: #a4a4a4;
        }
    }

    &__clear-continue {
        margin-top: 32px;
        display: flex;
        gap: 152px;
        margin-bottom: 128px;
    }

    &__clear-button {
        border: 1px solid #A4A4A4;
        padding: 17px 35px;
        width: 255px;
        height: 50px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: $headerTextColor;
        background: #fff;

        &:hover {
            color: white;
            background-color: rgb(255, 75, 75);
        }
    }

    &__continue-button {
        border: 1px solid #A4A4A4;
        background: #fff;
        width: 245px;
        height: 50px;
        padding: 17px 40px;
        font-weight: 300;
        font-size: 14px;
        color: $headerTextColor;

        &:hover {
            color: rgb(185, 185, 185);
            background-color: greenyellow;
        }

    }

    &__count {
        width: 360px;
        height: 214px;
        background: #f5f3f3;
        margin-bottom: 342px;


        &_button {
            border: none;
            margin: 17px 43px 44px;
            width: 273px;
            height: 50px;
            font-weight: 300;
            font-size: 16px;
            color: #fff;
            background: $selectSiteColor;
        }
    }

    &__count-h3 {
        text-align: right;
        font-weight: 400;
        font-size: 11px;
        color: #4a4a4a;
        padding-top: 39px;
        padding-right: 34px;
        padding-bottom: 12px;
    }

    &__count-h1 {
        display: flex;
        gap: 25px;
        justify-content: end;
        font-weight: 300;
        font-size: 16px;
        color: $headerTextColor;
        padding-right: 37px;
        padding-bottom: 21px;
        border-bottom: 1px solid #e2e2e2;

        &_select {
            font-weight: 700;
            color: #f16d7f;
        }
    }

    &__empty {
        padding-left: 50px;
        font-weight: 600;
        font-size: 80px;
    }
}



.cart-items {
    width: 652px;
    @include flex-column;
    gap: 40px;
}


.cart-item {
    box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
    display: flex;
    position: relative;


    &__close {
        position: absolute;
        top: 22px;
        right: 28px;

        img {
            width: 18px;
            height: 18px;
        }

        &:hover path {
            fill: #ef5b70;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 24px;
        color: $headerTextColor;
        line-height: 29px;
        width: 262px;
        display: block;
        margin-bottom: 42px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__content {
        background: #fff;
        padding: 22px 32px;
        box-sizing: border-box;
        width: 100%;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: #575757;
        line-height: 17px;

        &_select {
            color: #ef5b70;
        }

        &_quantity {
            display: flex;
            gap: 32px;
        }
    }

    &__number {
        width: 44px;
        height: 25px;
        border: 1px solid #eaeaea;
        font-family: "Lato";
        font-style: normal;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #656565;
    }
}

.form-section {
    margin: 0 auto;
    width: $maxWidthSite;
    height: 448px;
    display: flex;
    flex-wrap: wrap;

    &__background-image {
        margin: 0 auto;
        background-image: url(../img/bgformsectionimage.webp);
        width: $maxWidthSite;
        background-size: cover;
    }

    &__form-darkness {
        background: rgba(244, 244, 244, 0.7);
        width: $maxWidthSite;
        height: 448px;
        @include flex-center();
        flex-wrap: wrap;
        gap: 223px;
    }

    &__left-side {
        width: 360px;
        height: 225px;
        @include flex-center();
        flex-wrap: wrap;
        gap: 30px;
    }

    &__left-side p {
        font-style: italic;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: $headerTextColor;
    }

    &__right-side {
        width: 557px;
        height: 142px;
        @include flex-column();
        justify-content: center;
        gap: 32px;
        text-align: center;
    }

    &__right-side h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 167%;
        color: $headerTextColor;
        font-family: var(--font-family);
    }

    &__right-side h2 {
        font-weight: 400;
        font-size: 18px;
        font-family: var(--font-family);
        color: $headerTextColor;
    }

    &__form {
        @include flex-center();
        flex-direction: row;
    }

    &__form input {
        background: #e1e1e1;
        border: none;
        width: 256px;
        height: 49px;
        opacity: 0.67;
        font-weight: 400;
        font-size: 14px;
        color: $headerTextColor;
        padding: 7px 64px 6px 22px;
        border-radius: 20px 0 0 20px;
    }

    &__form button {
        border-radius: 0 20px 20px 0;
        width: 100px;
        height: 49px;
        background: #e05c6e;
        border: none;
        padding: 7px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: $whiteTextColor;
    }
}

.footer {
    background: $headerTextColor;
    width: 1600px;
    height: 79x;
    @include space-between();
    align-items: center;
    margin: 0 auto;
    padding: 30px 230px;
    margin-bottom: 150px;

    &__left-side {
        width: 332px;
        height: 19px;
        font-weight: 400;
        font-size: 16px;
        color: #fbfbfb;
        text-align: start;
    }

    &__right-side {
        width: 148px;
        height: 32px;
        display: flex;
        flex-direction: row;
        gap: 7px;
    }

    &__icon {
        width: 32px;
        height: 32px;
        background: $whiteTextColor;
        padding: 9px;
    }

    &__icon:hover {
        background: $selectSiteColor;
    }

    &__icon:hover path {
        fill: $whiteTextColor;
    }
}

@media (max-width: 1600px) and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .menu {
        width: 768px;
        padding: 18px;

        &__left-menu {
            margin-left: 32px;
        }

        &__right-menu {
            margin-right: 18px;
        }

        &__five-in-basket {
            right: 37px;
        }
    }

    .BreadCrumb {
        width: 768px;
        display: flex;
        justify-content: start;
        align-items: start;
        padding: 60px 16px;


        &__menu-active {
            width: 150px;
        }

        &__menu-active__all {
            padding-top: 8px;
        }

        &__menu-heading {
            margin-bottom: 10px;
            font-size: 12px;
        }

        &__menu-man {
            height: 90px;
            display: flex;
            gap: 5px;
            margin-bottom: 10px;
        }

        &__menu-text {
            font-size: 12px;
        }

        &__menu-list {
            font-size: 10px;
            display: flex;
            gap: 5px;
        }

        &__menu-woman {
            height: 100px;
            display: flex;
            gap: 5px;
            margin-bottom: 10px;
        }

        &__menu-kids {
            height: 120px;
            display: flex;
            gap: 5px;
        }
    }

    .cart {
        height: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        width: 734px;
        padding-top: 59px;
        padding-left: 8px;

        &__left-side {
            width: 734px;
        }

        &__right-side {
            height: 360px;
            display: flex;
            flex-direction: row;
            gap: 15px;
            margin-bottom: 121px;
        }

        &__form {
            margin-top: 64px;
            margin-bottom: 128px;
        }

        &__input {
            font-weight: 400;
            padding-left: 17px;
        }

        &__button {
            font-weight: 400;
        }

        &__clear-continue {
            margin: 42px 105px 0;
            display: flex;
            gap: 48px;
        }

        &__count {
            margin: 103px 17px 147px;

            &_button {
                margin: 17px 43px 42px;
            }

        }


    }

    .cart-empty {
        font-weight: 600;
        font-size: 80px;
        margin: 0 auto;
    }

    .cart-item {

        &__text {

            &_quantity {
                display: flex;
                gap: 24px;
            }
        }
    }

    .form-section {
        width: 768px;
        height: 614px;


        &__form-darkness {
            width: 768px;
            height: 614px;
            display: flex;
            flex-wrap: wrap;
            gap: 48px;
            padding: 64px 105px;
        }

        &__right-side {
            height: 137px;
            display: flex;
            gap: 27px;
        }

        &__right-side h1 {
            line-height: 162%;
        }
    }

    .footer {
        width: 768px;
        padding: 30px 32px;


        &__left-side {
            width: 251px;
            font-size: 14px;
        }
    }
}


@media (max-width: 767px) and (min-width: 375px) {
    .container {
        max-width: 375px;
    }

    .menu {
        width: 375px;
        padding: 18px 16px;

        &__hide-button {
            display: none;
        }

        &__hide-button svg {
            display: none;
        }

        &__left-menu {
            margin-left: 0;
            gap: 0;
        }

        &__right-menu {
            margin-right: 0;
            width: 32px;
        }

        &__five-in-basket {
            display: none;
        }
    }

    .BreadCrumb {
        @include flex-center;
        padding: 60px 130px;

        &__menu-active {
            width: 180px;
        }

        &__menu-active__all {
            padding-top: 8px;
        }

        &__menu-heading {
            margin-bottom: 8px;
            font-size: 10px;
        }

        &__menu-man {
            height: 60px;
            display: flex;
            gap: 3px;
            margin-bottom: 5;
        }

        &__menu-text {
            font-size: 10px;
        }

        &__menu-list {
            font-size: 10px;
            display: flex;
            gap: 3px;
        }

        &__menu-woman {
            height: 90px;
            display: flex;
            gap: 3px;
            margin-bottom: 5px;
        }

        &__menu-kids {
            height: 110px;
            display: flex;
            gap: 3px;
        }
    }

    .cart {
        padding-left: 4px;
        padding-right: 4px;
        width: 358px;
        padding-top: 39px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;

        img {
            width: 143px;
            height: 188px;
        }

        &__left-side {
            width: 358px;
            @include flex-column;
            gap: 32px;
        }

        &__heading {
            font-weight: 400;
        }

        &__form {
            margin-top: 0;
            margin-bottom: 48px;
        }

        &__button {
            width: 100px;
            padding: 11px 10px;
            font-weight: 400;
        }

        &__clear-continue {
            margin-top: 30px;
            display: flex;
            gap: 9px;
            margin-bottom: 48px;
        }

        &__clear-button {
            padding: 9px 10px;
            width: 175px;
            height: 33px;
            font-weight: 400;
            font-size: 12px;
        }

        &__continue-button {
            width: 175px;
            height: 33px;
            padding: 9px;
            font-weight: 400;
            font-size: 12px;
        }

        &__count {
            margin-bottom: 96px;

            &_button {
                margin: 17px 43px 42px;
            }
        }

    }

    .cart-empty {
        font-weight: 600;
        font-size: 20px;
        margin: auto;
    }



    .cart-item {
        box-shadow: 8px 8px 21px 0 rgba(0, 0, 0, 0.13);

        &__close {
            top: 17px;
            right: 12px;

        }

        &__link {
            font-size: 16px;
            width: 143px;
            margin-bottom: 25px;
            line-height: 17px;
            margin-bottom: 25px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &__content {
            padding: 13px 17px;
        }

        &__text {
            font-size: 14px;
            line-height: 13px;

            &_quantity {
                display: flex;
                gap: 15px;
            }
        }

        &__number {
            width: 24px;
            height: 15px;
            font-size: 10px;
            line-height: 14px;
        }
    }

    .form-section {
        width: 375px;
        height: 550px;


        &__form-darkness {
            width: 375px;
            height: 550px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 59px;
            padding: 64px 17px;
            background-size: cover;
            font-weight: 400;
            font-size: 16px;
            color: #fbfbfb;
        }

        &__left-side {
            width: 343px;
            height: 194px;
            display: flex;
            gap: 29px;
        }

        &__left-side p {
            font-size: 18px;
        }

        &__right-side {
            width: 343px;
            height: 124px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 22px;
        }

        &__right-side h1 {
            line-height: 153%;
        }

        &__right-side h2 {
            font-size: 14px;
        }

        &__form input {
            height: 47px;
        }

        &__form button {
            height: 47px;
        }
    }

    .footer {
        width: 375px;
        height: 143px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
        padding: 43px 62px 9px;
        gap: 40px;

        &__left-side {
            width: 251px;
            height: 19px;
            font-size: 14px;
            margin-bottom: 10px;
        }

        &__right-side {
            width: 147px;
        }
    }
}